{{!< default}}

<header id="blog-header">
	<div class="inner">
		<nav id="navigation">
			<span class="blog-logo">
				<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{t "Blog Logo"}}" /></a>
			</span>
			<span id="menu-button" class="nav-button">
				<!--<a class="menu-button"><i class="ic ic-menu"></i> Menu</a>-->
				<a class="menu-button"><i class="fas fa-bars"></i></a>
			</span>
		</nav>
		<h1 class="blog-name">{{@blog.title}}</h1>
		<span class="blog-description">{{@blog.description}}</span>
		{{#get "posts"}}
			<div>
				<span class="post-meta">
					<span>Posts: {{posts.length}}</span> | <a href="/tags/">Tags</a>
				</span>
			</div>
		{{/get}}
	</div>
</header>

<div id="index" class="container">

	<main class="content" role="main">

		{{> "loop"}}

	</main>

</div>
